---
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;
---

<section {...storyblokEditable(blok)}>
  <div
    class="flex justify-evenly flex-col min-h-[calc(100vh-4rem)] bg-base text-center"
  >
    <img src={blok.image?.filename} alt={blok.image?.alt} class="p-4 h-full" />
    <div class="hero-content">
      <div class="max-w-md">
        <h1 class="font-sans text-[2.1rem] uppercase font-black">
          {blok.subheading}
        </h1>
      </div>
    </div>
  </div>
</section>
