---
import "@fontsource-variable/gabarito";
import "@fontsource/merriweather/300-italic.css";
import "@fontsource/merriweather/400-italic.css";
import "@fontsource/merriweather/700-italic.css";
import "@fontsource/merriweather/900-italic.css";

import NavBar from "../storyblok/NavBar.astro";
import Footer from "../storyblok/Footer.astro";
---

<html lang="en" data-theme="synthwave">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>PeepTheKicks</title>
  </head>
  <body class="container mx-auto">
    <NavBar />
    <slot />
    <Footer />
  </body>
</html>
